@charset "utf-8";
@import url('../../fonts/Lato/stylesheet.css');
@import url('../../fonts/font-awesome-4.6.3/css/font-awesome.min.css');
@import url('../../fonts/Roboto/stylesheet.css');

body { font-family: 'Roboto'; font-weight: normal; font-style: normal; margin: 0; font-size: 14px;	color: #39393A;}
body.iframe { background-color:#fff;} 
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {  font-weight: bold; }

.tooltip{ font-family: 'Lato';}
.btn.active.focus, .btn.active:focus, .btn.focus, .btn.focus:active, .btn:active:focus, .btn:focus, a:focus { outline: none }
a { color: #2A8AD5 }
a:focus, a:hover { text-decoration: none; color: #2A8AD5 }
input:focus { outline: none }
textarea { resize:none;}
.text-orange { color: #f16621 !important }
a.text-orange:hover { color: #f16621 !important }
.pn { padding: 0 !important }
.mn { margin: 0 !important }
.text-white { color: #fff }
.text-blue { color: #1081cf !important }
.text-green { color: #3cb778 !important }
.br-b { border-bottom: 1px solid #e6e6e6 }
strong, b { font-weight: 600 }
label { font-weight: normal; display: inline-block }
.text-wrap { word-break: break-all }
.fs10 { font-size: 10px }
.fs12 { font-size: 12px }
.fs14 { font-size: 14px  !important;}
.fs16 { font-size: 16px }
.fs18 { font-size: 18px }
.fs45 { font-size: 45px }
.fw300{font-weight: 300;}
.fw500 { font-weight: 500 }
.fw700 { font-weight: 700 }
.mr-20 { margin-right: 20px }
.mt15 { margin-top: 15px !important }
.mt20 { margin-top: 20px !important }
.pt5 { padding-top: 5px !important }
.mb15 { margin-bottom: 15px }
.ml15 { margin-left: 15px !important; }
.mb28 { margin-bottom: 28px; }
.mb25 { margin-bottom: 25px !important; }
.p10{ padding:10px;}
.mb40{ margin-bottom:40px !important;}
.mt40{ margin-top:40px !important;}
.mt45{ margin-top:45px !important;}
.mt25{ margin-top:25px !important;}
.mt30{ margin-top:30px !important;}
.mt70{ margin-top:70px !important;}
.mt100{ margin-top:100px !important;}
.mbn { margin-bottom: 0 !important }
.text-left{ text-align:left !important; }
.text-orange { color: #E2480C }
.dark-orange-bg { background-color: #2F9051 }
.orange-bg { background-color: #0D74AE }
.yellow-bg { background-color: #123c52 }
.gray-bg { background-color: #f6f6f6 }
.bg-white{background-color: #fff;}
ul { padding: 0 ; margin:0;}
.form-control:focus, .form-control:active  { outline:none !important;}

.ajex_loader { background: rgba(255, 255, 255, 0.8) url("../images/loader.gif") no-repeat scroll center center; height: 100%; left: 0; position: absolute; top: 0; width: 100%; z-index: 99999; }
.ajex_loader.fixed { position: fixed; }

.btn-action  { background-color: #d94948; border-color:#d94948; color:#fff;}
.btn-action:hover, .btn-action:focus { background-color:#FFF; border-color: #d94948; color:#d94948;}

.btn-white-o { 	border: 1px solid #CBCBCB; color:#5D5D5D; background:#fff;}
.btn-white-o:hover, .btn-white-o:focus { background-color:#e7e7e7; color:#5D5D5D;}

.loader { position: fixed; text-align: center; left: 0; right: 0; top: 0; bottom: 0; background: #fff; z-index: 999; width: 100%; height: 100%; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; }
.loader svg { transform-origin: 50% 65% }
.loader svg polygon { stroke-dasharray: 17; -webkit-animation: dash 2.5s cubic-bezier(0.35, 0.04, 0.63, 0.95) infinite; animation: dash 2.5s cubic-bezier(0.35, 0.04, 0.63, 0.95) infinite; }
@keyframes dash {	to { stroke-dashoffset: 136; }}
@-webkit-keyframes rotate {	100% { -webkit-transform: rotate(360deg); transform: rotate(360deg); }}

/* alert css start */
.myadmin-alert { border-radius: 0; color: #fff; padding: 12px 30px 12px 12px; position: relative; text-align: left }
.myadmin-alert a { color: inherit; font-weight: 600; text-decoration: underline }
.myadmin-alert h4 { color: inherit; font-size: 14px; font-weight: 600; line-height: normal; margin: 0 }
.myadmin-alert .img { border-radius: 3px; height: 40px; left: 12px; position: absolute; top: 12px; width: 40px }
.myadmin-alert-img { min-height: 64px; padding-left: 65px }
.myadmin-alert-icon { padding-left: 20px }
.myadmin-alert-icon i { padding-right: 10px }
.myadmin-alert .closed { color: rgba(255, 255, 255, 0.5); font-size: 20px; font-weight: bold; padding: 4px; position: absolute; right: 3px; text-decoration: none; top: 0 }
.myadmin-alert .closed:hover { color: #fff }
.myadmin-alert-click { cursor: pointer; padding-right: 12px }
.myadmin-alert .primary { background: rgba(0, 0, 0, 0.4) none repeat scroll 0 0; border: medium none; border-radius: 3px; color: inherit; outline: 0 none; padding: 4px 10px }
.myadmin-alert .cancel { background: rgba(255, 255, 255, 0.4) none repeat scroll 0 0; border: medium none; border-radius: 3px; color: rgba(0, 0, 0, 0.8); outline: 0 none; padding: 4px 10px }
.myadmin-alert .primary:hover, .myadmin-alert .cancel:hover { opacity: .9 }
.myadmin-alert-top, .myadmin-alert-bottom, .myadmin-alert-top-left, .myadmin-alert-top-right, .myadmin-alert-bottom-left, .myadmin-alert-bottom-right, .myadmin-alert-fullscreen { box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1); display: none; position: fixed; z-index: 1000 }
.myadmin-alert-top { left: 0; right: 0; top: 0 }
.myadmin-alert-bottom { bottom: 0; left: 0; right: 0 }
.myadmin-alert-top-left { left: 20px; top: 80px }
.myadmin-alert-top-right { right: 20px; top: 80px }
.myadmin-alert-bottom-left { bottom: 20px; left: 20px }
.myadmin-alert-bottom-right { bottom: 20px; right: 20px }
.myadmin-alert-fullsize { left: 50%; margin: -20px; top: 50% }
.alert-success { background: #05C192; color: #ffffff; border-color: #05C192 }
.alert-warning { background: #FEC108; color: #ffffff; border-color: #FEC108 }
.alert-danger { background: #EB6E6E; color: #ffffff; border-color: #EB6E6E }
.alert-info { background: #0086C2; color: #ffffff; border-color: #0086C2 }
.alert-info .closed { color: inherit }
.alert-info a.closed:hover { color: inherit }
/* alert css end */

header{ position:absolute; top:0; left:0; width:100%; z-index:2000; }
.sticky-wrapper.is-sticky .header { background:#fff; padding:15px 20px;  box-shadow:0px 0px 5px 0px rgba(0, 0, 0, 0.3);}
.sticky-wrapper.is-sticky .header .menu > ul:not(.dropdown-menu) > li > a { color:#5d5d5d;}
.sticky-wrapper.is-sticky .header .menu > ul:not(.dropdown-menu) > li > a:hover,
.sticky-wrapper.is-sticky .header .menu > ul:not(.dropdown-menu) > li > a.active { color:#5d5d5d;border-bottom:2px solid #1e293b;}
.header { padding:0px; transition: all 0.5s ease-in-out 0s;}
.header .logos { padding:5px 0px 0px 0px; }
.header .logos img {max-height: 50px; vertical-align: middle; height: auto;} 
.header .logos i { margin:0 10px;}
.header .logo-wrap img{ max-height:40px; }
.header .logo-wrap .logo-primary { display:none;}
.sticky-wrapper.is-sticky .header .logo-wrap .logo-primary { display: inline-block;}
.sticky-wrapper.is-sticky .header .logo-wrap .logo-white { display: none;}

.header .additional_logo{ margin-left:15px; padding-left:15px; position:relative; display:inline-block;}
.header .additional_logo:before{ content:"\f067"; font-family:'FontAwesome';position: absolute;left: -10px;top: calc(50% - 12px);font-size: 20px;}

.header .request_demo_wrap a:not(.btn){color: #fff; background-color:#0086C2; padding:15px 30px; text-decoration: none; display: inline-block; width: 100%; min-width:275px; text-align: center; }
.header .request_demo_wrap{margin-right: -15px;}
.request_demo_wrap .dropdown-menu{background-color:#4daad4; padding: 15px; margin:-1px 0px 0px 0px; border: none; width: 100%; min-width: 275px; border-radius: 0px;}
.request_form .form-control{  border-radius:3px;    background-color: #FFFFFF; border: none;   box-shadow: 0 1px 6px 0 rgba(207,207,207,0.5); font-size: 14px;   color: #A8A8A8; padding:6px 12px;}

.container-sm { margin:0 auto; max-width:895px;padding-right: 15px; padding-left: 15px;}
.main_top_rail { background:#4daad4; no-repeat center; background-size:cover; min-height:635px; display:inline-block; width:100%; display: -webkit-box; display: -webkit-flex; display: -moz-box; display: -ms-flexbox; display: flex; -webkit-flex-align: center; -ms-flex-align: center; -webkit-align-items: center; align-items: center; position:relative; overflow:hidden;/* -webkit-clip-path: polygon(0 0, 100% 0, 100% 90%, 0% 100%);clip-path: polygon(0 0, 100% 0, 100% 90%, 0% 100%);*/}
.main_top_rail.vince_bg{background-image:url(../../images/vincejpg_blue.jpg); background-size: cover; background-position:top;}

.main_top_rail:after { content:""; position:absolute; left:0; top:0; width:100%; height:100%; background-color: #4daad4; }
.main_top_rail .center_heading {color: #fff; position:relative; z-index:1;  max-width: 700px;   background-color: rgba(0,0,0,0.5);   border-radius: 3px; padding: 15px;}
.main_top_rail .center_heading .text-uppercase { 	color: #fff; font-size: 11px;	letter-spacing: 3px;	line-height: 14px; font-weight:800; }
.main_top_rail .center_heading h1 {font-size:28px;font-weight:bold;line-height: normal; color: #fff; margin:10px 0 15px; text-transform: uppercase; }
.main_top_rail .center_heading p{ line-height: 24px;}
.main_top_rail .center_heading .partner-img { padding:5px; max-width: 222px; max-height: 70px; border: 1px solid #fff; background-color: #fff; display:inline-block; margin-right:15px; margin-bottom:5px;  }
.main_top_rail .center_heading .h_sub_content{display:inline-block;font-size: 18px; line-height: 28px;  margin-bottom:0; vertical-align:middle; font-weight: 300; }
.main_top_rail .center_heading p.smal_txt {display:inline-block;font-size: 16px; 	line-height: 28px;margin-top:25px;}

.btom_txt{position: relative;z-index: 1;color: #fff;bottom: -200px;}

/* product css start */
.product_wrap{ padding: 50px 0px 20px;  }
.bottom_part_gray{position: relative; width: 100%; height: 100%;}
.bottom_part_gray::before{width: 100%; height: 75%; position: absolute; content: ""; top: 25%; background-image: url("../../images/prd_preview/product_sec_bg.jpg"); background-repeat: no-repeat; background-position: top left; background-size: cover;  }
.plan_box{ background-color:#fff; border-radius: 3px;   border: 1px solid #979797; margin-bottom: 30px;   box-shadow: 0 4px 10px 0 rgba(124,124,124,0.5);}
.plan_box h5{margin: 0px; padding: 10px 15px; font-size: 20px; font-weight: normal; color: #5d5d5d;}
.plan_box .plan_thumb{width: 100%; height: 125px; background-repeat: no-repeat; background-size: cover; background-position: center center;}
.plan_box .plan_info{padding: 10px 15px; color: #5d5d5d; text-overflow: ellipsis; overflow: hidden; display: -webkit-box; -webkit-line-clamp: 4; -webkit-box-orient: vertical; height: 95px;}
.plan_box .plan_info p{text-align: left;}

.get_coverage{padding:25px 0px; position: relative; border-top: 8px solid #f3f3f3;}
.get_coverage_content{position: absolute; top: -25px; left: 0px; right: 0px; text-align: center; width: 100%;}

.smarte_footer {position: relative; background-color:#fff;  width:100%; padding-top:15px; 	box-shadow: 0 -1px 3px 0 rgba(204,204,204,0.5);}
.smarte_footer .bottom_footer {background-color:#0086C2; padding:5px 0;  }
.smarte_footer .bottom_footer ul { float:right; margin:0; padding:0;}
.smarte_footer .bottom_footer ul li { display:inline-block; color:#fff;}
.smarte_footer .bottom_footer ul li a{ color:#fff; padding:6px 10px; text-decoration:underline; display:inline-block;  }
.smarte_footer .bottom_footer ul li a:hover { text-decoration:none;}
/* product css end */

footer { background-color: #1e293b; padding:30px; color:#fff; border-top:1px solid rgba(0,0,0,0.2);}
footer .txt_colr{ color:#fff;}

label em { color:#F2500C; font-style:normal; font-weight:900;}

.scroll_top { position: fixed; bottom: 50px;right:0;z-index: 100; }
.scroll_top a{ background-color:  rgba(30,41,59, 1); padding: 0 14px; line-height:40px; transition: all 0.2s ease-in-out 0s; font-size: 24px;line-height: 45px;color: #ffffff; margin-right:20px; display:inline-block;border:1px solid rgba(255,255,255, 0.1); }
.scroll_top a:hover{background-color:  rgba(30,41,59, 0.8); }
.scroll_top a i.fa-angle-up{ font-size:28px; }
.scroll_top a.scr_top{ display:none; }
.scroll_top a.scr_top.on{ display: inline-block; }
.scroll_top a.scr_top.on{ right:20px; }

.iframe .panel { margin-bottom:0; border:none;  }
.iframe .panel .panel-heading { border-bottom:1px solid #e1e1e1; font-size:20px; font-weight:bold;}
.iframe  ul { margin-left:15px; margin-bottom:10px; }
.iframe ul.ul-list { margin-left:0;}
.iframe ul.ul-list li{ font-size: 14px; 	line-height: 30px; display:block;}
.iframe ul.ul-list li:before { content:"\f054"; font-family:'FontAwesome'; margin-right:8px; font-size:11px; color:#2A8AD5; }
@media all and (max-width:1023px) { 
.main_top_rail{min-height: 450px;}
}
@media all and (max-width:991px) { 
#cboxLoadedContent{ border:none !important;} 
body #colorbox {left: 7% !important;width: 90% !important;}
body #cboxWrapper, body #cboxContent, body #cboxLoadedContent {width: 100% !important;}
#cboxContent { margin-top:35px !important; }
.plan_box h5{font-size: 16px;}
}
@media all and (max-width:768px) {
.header .request_demo_wrap a:not(.btn){min-width: inherit;}
.header .menu ul:not(.dropdown-menu) > li > a { margin:0 10px; }
.header .menu .dropdown-menu { left:8px;}
}
@media all and (max-width:767px) {
.header { padding:0px;}
.menu .mobile-icon { display:inline-block !important; color: #393a39; float: right; font-size:27px; margin-top:10px; }
.menu .mobile-icon span { height: 3px; width:25px; background-color:#fff; margin: 5px 0; transition: 0.4s; display: block; }
.sticky-wrapper.is-sticky  .menu .mobile-icon span  { background-color:#1e293b;}
.menu .mobile-icon.active span.bar-2 { opacity :0; }
.menu .mobile-icon.active span.bar-1 { transform:rotate(-45deg) translate(-9px, 4px); }
.menu .mobile-icon.active span.bar-3 { transform:rotate(45deg) translate(-7px, -2px); }
.menu .header { position:relative;}
}
@media all and (max-width:640px) {
.main_top_rail .center_heading h1 br{ display:none;}
.main_top_rail .center_heading h1 {font-size: 36px;}
footer { padding:15px;}
.main_top_rail .center_heading .partner-img { margin-bottom:15px;}
.main_top_rail .center_heading { text-align:center;}
.main_top_rail .center_heading .h_sub_content{ display:block;}
.btom_txt{text-align:center;}
}
@media all and (max-width:540px) {
.main_top_rail .center_heading h1 {    font-size: 32px;}
.main_top_rail .center_heading .partner-img + p { font-size:16px; line-height:20px;}
.header .logo-wrap img {max-height: 40px;}
}
@media all and (max-width:480px) {
.main_top_rail .center_heading h1 {    font-size: 28px;}
footer{ text-align:center;}
footer span.pull-right{ float:none !important; display:block; margin-top:10px; }
.header{padding: 0px;}
.header .request_demo_wrap a:not(.btn){padding: 15px;}
}
@media all and (max-width:414px) {
/*.main_top_rail {clip-path: polygon(0 0, 100% 0, 100% 96%, 0% 100%); -webkit-clip-path:  polygon(0 0, 100% 0, 100% 96%, 0% 100%);}*/
.main_top_rail .center_heading h1 { font-size:24px; line-height:normal;} 
.main_top_rail .header { text-align:center; }
.main_top_rail .header .call_div { display:block; margin:10px 0 0;}
}
@media all and (max-width:380px) {
.header .logos{padding-top:14px;}
.header .logos img { max-width:100%;} 
}
@media all and (max-width:320px) {
.header .logos i { margin: 0 6px;}
.header .logos img { max-height: 45px;} 
}