@charset "utf-8";

/* CSS Document */
body { color: #5D5D5D; font-family: 'roboto'!important; }
@page {margin: 18px; }
.text-right{text-align: right!important;}
.text-left{text-align: left!important;}
.text-center{text-align: center!important;}
.font-bold{font-weight: bold!important;}
.text-action{color:#d94948!important;}
.red-link{color:#d94948!important;}
.text-success{color:#5FB89C!important;}
.text-danger{color:#FF0000!important;}

/* common table css start */
.mn{margin: 0px!important;}
.mt0{margin-top: 0px!important;}
.mb0{margin-bottom: 0px!important;}
.ml0{margin-left: 0px!important;}
.mr0{margin-right: 0px!important;}
.pn{padding: 0px!important;}
.pt0{padding-top: 0px!important;}
.pt15{padding-top: 15px!important;}
.pb0{padding-bottom: 0px!important;}
.pb15{padding-bottom: 15px!important;}
.pl0{padding-left: 0px!important;}
.pr0{padding-right: 0px!important;}
.bg_light_gray{background-color: #f4f4f4!important;}
.bg_white{background-color: #fff!important;}
.br-b{border-bottom: 1px solid #ddd;}
h1, h2, h3, h4, h5, h6{margin: 10px 0px!important;}
h1, h2, h3, h4, h5, h6, p, strong, label, div{font-family: 'roboto'!important;}
table { border-collapse: collapse; border-spacing: 0; color: #5D5D5D; font-family: 'roboto'; font-size: 12px; }
td, th { padding: 0; }
th { text-align: left; }
.table{width: 100%; max-width: 100%; border-collapse: collapse; border-spacing: 0; font-size: 12px; color: #5D5D5D;  font-family: 'roboto';}
.table tbody  tr  td, 
.table  tbody  tr  th, 
.table  tfoot  tr  td, 
.table  tfoot  tr  th, 
.table  thead  tr  td, 
.table  thead  tr  th{
vertical-align: middle!important; padding: 8px!important; border:none!important;  font-family: 'roboto'!important;}
.table-info thead tr th { background-color: #0086C2; color: #fff; }
.table-danger thead tr th { background-color: #d94948 ; color: #fff; }
.table-bordered {border: 1px solid #ddd;}
.table-borderless  tbody  tr  td,
.table-borderless  tbody  tr  th,
.table-borderless  tfoot  tr  td,
.table-borderless  tfoot  tr  th,
.table-borderless  thead  tr  td,
.table-borderless  thead  tr  th {
    border: none!important;
}
/* common table css end */

/* policy doc css start */
.common_title{font-weight: bold; font-size: 14px; font-family: 'roboto'; color: #5D5D5D;}
.table.product_total_info{ width: 30%; border-bottom: 1px solid #E0E0E0!important; }
.table.dependent_info{width:65%;}
.table.breakdown_plan{width:50%;}
.table.breakdown_plan tbody tr.br-top td{border-top:  1px solid #E0E0E0!important;}
.table.dependent_info thead tr th{border-bottom:  1px solid #E0E0E0!important; padding-top:15px!important; }
.term_info {font-size: 12px; font-family: 'roboto'; color: #5D5D5D;}
.bottom_info_wrap{vertical-align: top;}
.bottom_info_wrap td{padding: 0px 0px;}
.bottom_info_wrap p{margin-bottom: 5px;}
.bottom_info_wrap .bottom_info_box{background-color: #FCFCFC; border-radius: 2px; color: #5D5D5D; padding: 5px; border: 1px solid #DEDEDE;  vertical-align: text-bottom; text-align: center; font-family: 'roboto'; font-size: 12px; height:60px;  display: inline-block; }
.bottom_info_wrap .last_child.bottom_info_box{vertical-align: top; background-color: #fff; border: none; padding: 0px; text-align: left;}
.clearfix{width:100%; display: inline-block;}

.billing_left{ float: left; width: 50%;}
.billing_right{float: right; width: 50%;}

.billing_left .policy_holder_wrap{width:250px;}
.billing_left .policy_holder_wrap{font-family: 'roboto'; color: #5D5D5D;  border: 4px solid #ebebeb; border-radius: 3px; background-color: #fff; margin-top: 15px;}
.billing_left .policy_holder_wrap .top_title{margin: 0px; padding:10px; text-align: center; font-size: 14px; background-color:#0086C2; color: #fff;}
.billing_left .policy_holder_wrap .policy_holder_body{padding:10px 5px; background-color: #fff; text-align: center; font-size: 16px; margin: 0px;}

.billing_right .billing_info {width: 250px; float: right; }
.billing_right .billing_info .table tbody tr td{padding: 5px 0px 0px 0px;}
.billing_right .billing_info .table thead tr th{ padding:5px 0px;   font-size: 18px;}

.policy_activity_block{padding: 10px 0px; border-width: 0px 0px 1px 0px; border-style: solid; border-color: #ddd;}
.policy_activity_head h4{margin: 0px 0px 5px 0px;}
.policy_activity_head p{color:#808080; margin: 0px 0px 5px 0px;}
.policy_activity_body p{font-size: 12px; margin: 0px 0px 10px 0px;}
.policy_activity_footer p{font-size: 12px; margin:0px; text-align: right; color: #808080;}
/* policy doc css end */

/* list bill pdf css start */
.table.listbill_product_total{width:50%!important;}
/* list bill pdf css end */

/* list bill payment receipt css start */
.col-two{display: inline-block; width: 100%;}
.col-two-left{float: left; width: 50%;}
.col-two-right{float: right; width: 50%;}
.receipt_seprater{background-color: #0086C2; height: 3px; width: 100%; margin-top: 15px}
/* list bill payment receipt css end */

/* id card css start */
.id_card_wrap{max-width: 580px!important;}
/* id card css end */