/log
/uploads
/mibew/cache
.idea/
#.htaccess
/live_chat/.htaccess
/live_chat/uploads
/code_deploy.php
.rnd
#*.db
#*.env
admin/jira-rest-client.log
/includes/config.local.inc.php
/mibew/configs/config_local.yml
/site_management